.body {
    background-color: rgba(240, 255, 255, 0.685);
}

.header {
    width: ;
    height: 80px;
}

.header_content {

}

.header_icon {

}

.header_ttl {
    font-size: 22px;
    color: rgb(12, 82, 235);
    height: 1230px;
}