.done_content {
    width: 33%;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    border-style: solid 1px;
    box-shadow: 3px 3px 1px rgb(51, 48, 48)
}

.done_txt {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.done_button {
    background-color: rgb(12, 82, 235);
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border-style: solid 1px rgb(119, 115, 115);
}