.thnaks_content_area {
    margin: auto 0;
    align-items: center;
}

.thnaks_content {
    width: 33%;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    border-style: solid 1px;
    box-shadow: 3px 3px 1px rgb(51, 48, 48);
}

.thnaks_txt {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.thnaks_button {
    background-color: rgb(12, 82, 235);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border-style: solid 1px rgb(119, 115, 115);
}