.search_content {
    width: 50%;
    height: 100%;
    margin-top: 1%;
}

.search_content_box {
    width:  84%;
    height: 41%;
    margin: 3.5% 2%;
    background-color: white;
    border-radius: 3%;
    box-shadow: 3px 3px 1px rgb(189, 186, 186);    
}

.search_table {
    width: 100%;
    height: 100%;
}

.search_area,
.search_genre {
    width: 20%;
    height: 100%;
    border-right: solid 1px rgb(233, 229, 229);
}

.search_area_form,
.search_genre_form {
    width: 100%;
    height: 100%;    
}

.search_area_select_box,
.search_area_genre_box {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bolder;
    border: none;
    outline: 0;
}

.search_word_form {
    width: 100%;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    color: rgba(178, 182, 182, 0.712);
    font-size: 15px;    
}

.search_word {
    width: 60%;
    height: 100%;
    display: flex;
}

.search_word_box {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
}

.shop_list_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.shop_list_card {
    width: 20%;
    height: 35%;
    margin: 1% 1%;
    background-color: white;
    border-radius: 3%;
    box-shadow: 3px 3px 1px rgb(189, 186, 186);
}

.shop_list_content-img {
    width: 100%;
    height: 50%;
}

.img {
    width: 100%;
    height: 100%;
}

.shop_list_text-box {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 2.5% 5%;
}

.shop_name_area {
    height: 30%;
    align-items: center;
}

.shop_name {
    font-size: 18px;
    font-weight: bold;
}

.shop_tag_area {
    display: flex;
    height: 30%;
}

.shop_area, 
.shop_genre {    
    font-size: 14px;
    font-weight: bold;
}

.shop_detail_area {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.shop_detail_form {
    display: flex;
    align-items: center;
}

.shop_detail_button {
    margin-top: 10%;
    background-color: rgb(12, 82, 235);;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.favorite_form {
    display: flex;
    align-items: center;
    padding-top: 3%;
}

.favorite_button {
    background-color: white;
    border: none;
}

.material-icons {
    color: rgba(178, 182, 182, 0.712);
    background-color: white;
}