.shop_detail_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.shop_detail_area {
    width: 40%;
    margin-top: 4%;
    margin-left: 7%;
}

.shop_detail_header {
    height: 10%;
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop_detail_header_left {
    display: flex;
}

.shop_detail_form {
    display: flex;
    align-items: center;
}

.shop_detail_button {
    background-color: white;
    border-radius: 5%;
    box-shadow: 3px 3px 1px rgb(189, 186, 186);
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.shop_detail_name {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.shop_review_button {
    border-radius: 5%;
    box-shadow: 3px 3px 1px rgb(141, 170, 11);
    background-color: rgb(213, 233, 35);
    border: none;
}

.shop_detail_img {
    height: 60%;
    margin: 1% 0%;
}

.img {
    width: 100%;
}

.shop_detail_tag {
    height: 8%;
    margin: 1% 0%;
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.shop_detail_description {
    height: 8%;
    margin: 1% 0%;
    font-size: 15px;
    font-weight: bold;
}

.book_area {
    width: 40%;
    margin-top: 4%;
    margin-right: 7%;
    margin-bottom: 3%;
    padding: 1% 2%;
    background-color: rgb(12, 82, 235);
    border-radius: 3px;
    border-style: solid 1px;
    box-shadow: 3px 3px 1px rgb(189, 186, 186);
}

.book_header {
    height: 4%;
    margin: 1% 0;
    text-align: left;
}

.book_header_content {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.book_form_area {
    width: 100%;
    height: 92%;

}

.book_form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.book_form_date {
    width: 50%;
    margin: 1% 0%;
    border-radius: 3px;
    font-size: 15px;
    background-color: white;
}

.book_form_time,
.book_form_number {
    width: 100%;
    margin: 1% 0%;
    border-radius: 3px;
    font-size: 15px;
    background-color: white;
}

.book_confirm {
    width: 100%;
    height: 20%;
    margin: 2% 0%;
    text-align: left;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    background-color: rgb(75, 131, 252);
}

.book_confirm_row {
    width: 100%;
}

.book_confirm_header {
    padding: 1% 2%;
    width: 20%;
}

.book_confirm_txt {
    padding: 1% 2%;
    width: 80%;
}

.book_button {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(1, 5, 243);
    border-radius: 3%;
}